extends layout_admin
block content_admin
  div.tab-content
    div
      form.form-horizontal(method="post", id="loginForm", action="/login")
        fieldset 
          legend Terms
        div.control-group
          label.control-label Term name
          div.controls  
            input.span3(id="term", type="text", name="term", placeholder="Enter term name" value="#{term.term}")
            input(type="hidden" id="id" name="id" value="#{term._id}")
        div.control-group
          label.control-label Status
          div.controls  
              input(type="checkbox" value="#{term.status}")
        div.control-group
          div.controls         
            button.btn(type="submit", value="Submit") Submit
    hr
    div.tab-pane
      table.table.table-striped(id="terms")
        thead
          tr
            th Action
            th Term
            th Status
        tbody
          for item in tracks
            tr
              td
                a.action.click_edit(value="#{item._id}")
                  i.icon-pencil
                a.action.click_remove(value="#{item._id}" class="hide")
                a.action(href="#modal" role="button" data-toggle="modal")
                  i.icon-remove
              td= item.term
              td= item.status
    div(id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      div.modal-body
        p You want to delete ?
      div.modal-footer
        a.btn.btn-close(href="#") Cancel 
        a.btn.btn-primary(href="#") Delete
