extends layout_admin
block content_admin
  h3 Users
  hr
  div.tab-content
    div
      form.form-horizontal(method="post", id="loginForm" action="/admin/users/save")
        if msg
          div.alert.alert-info
            button(class="close" data-dismiss="alert") &times;
            a(class="display_tweets") #{msg}
        div.control-group
          label.control-label Username
          div.controls  
            input.span3(id="user", type="text", name="user", placeholder="Enter username" value="#{user.user}")
            input(type="hidden" id="_id" name="_id" value="#{user._id}")
        div.control-group
          label.control-label Name
          div.controls  
            input.span3(id="name", type="text", name="name", placeholder="Enter name" value="#{user.name}")
         div.control-group
          label.control-label E-mail
          div.controls  
            input.span3(id="email", type="text", name="email", placeholder="Enter E-mail" value="#{user.email}")
         div.control-group
          label.control-label Password
          div.controls  
            input.span3(id="pass", type="password", name="pass", placeholder="Enter password" value="#{user.pass}")
         div.control-group
          label.control-label Status
          div.controls  
              input(type="checkbox" name="status" id="status" checked=(user.status==true ? "checked" : undefined) )
        div.control-group
          div.controls         
            button.btn(type="submit", value="Submit") Submit
    hr
    div.tab-pane
      table.table.table-striped(id="users")
        thead
          tr
            th Action
            th Username
            th Name
            th E-mail
            th Created at
            th Status
        tbody
          for item in users
            tr
              td
                a.action.click_edit(value="#{item._id}")
                  i.icon-pencil
                a.action(value="#{item._id}" class="hide click_remove")
                a.action(href="#modal" role="button" data-toggle="modal" value="#{item._id}")
                  i.icon-remove
              td= item.user
              td= item.name
              td= item.email
              td= item.created_at
              td= item.status
    div(id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      div.modal-body
        p You want to delete ?
      div.modal-footer
        a.btn.btn-close(href="#") Cancel 
        a.btn.btn-primary(href="#") Delete